.go-back-arrow {
  position: absolute;
  top: 120px;
  left: 76px;
  cursor: pointer;
}
.blogs-container {
  margin: 40px auto 98px;
  max-width: 720px;
}

.blog-container-main {
  width: 100%;
}

.blog-cover-large {
  max-height: 328px;
  border-radius: 12px;
}

.h2-large {
  font-size: 32px;
}

.related-sarticles {
  padding: 28px 76px;
}

.related-articles-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}

.related-articles-top p {
  color: #1a1a1f;
  font-size: 32px;
  font-weight: 700;
}

.related-articles-top img {
  cursor: pointer;
}

.related-articles-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 32px;
}

.margin-right-24 {
  margin-right: 24px;
}
