.container {
  max-width: 1768px;
  width: 92%;
  margin: 0 auto;
}

.cover {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 64px 0;
}

h1 {
  color: #1a1a1f;
  font-size: 64px;
  font-weight: bold;
}
.cover img {
  width: 1024px;
  height: 355px;
}

.categories {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 10px;
  max-width: 684px;
  width: 100%;
  margin: 0 auto;
  list-style: none;
}

.category {
  font-size: 12px;
  font-weight: 500;
  border-radius: 30px;
  padding: 8px 16px;
}

.category[data-item-type="accent-1"] {
  color: #d6961c;
  background: rgba(255, 184, 47, 0.08);
}
.category[data-item-type="accent-2"] {
  color: #15c972;
  background: rgba(28, 214, 125, 0.08);
}
.category[data-item-type="accent-3"] {
  color: #b71fdd;
  background: rgba(177, 28, 214, 0.08);
}
.category[data-item-type="accent-4"] {
  color: #dc2828;
  background: rgba(250, 87, 87, 0.08);
}
.category[data-item-type="accent-5"] {
  color: #60be16;
  background: rgba(112, 207, 37, 0.08);
}
.category[data-item-type="accent-6"] {
  color: #1ac7a8;
  background: rgba(8, 210, 174, 0.08);
}

/* 
font-size: 12px;
font-weight: 500;
border-radius: 30px;

color: #d6961c;
background: rgba(255, 184, 47, 0.08);
color: #15C972;
background: rgba(28, 214, 125, 0.08);
color: #B71FDD;
background: rgba(177, 28, 214, 0.08);
color: #DC2828;
background: rgba(250, 87, 87, 0.08);
color: #60BE16;
background: rgba(112, 207, 37, 0.08);
color: #1AC7A8;
background: rgba(8, 210, 174, 0.08);
*/

.blogs-list {
  margin-top: 72px;
  display: flex;
  flex-wrap: wrap;
  column-gap: 32px;
  row-gap: 56px;
}

.blog {
  max-width: 408px;
  width: 92%;
}
.blog-cover {
  width: 100%;
  border-radius: 12px;
}

h3 {
  color: #1a1a1f;
  font-size: 16px;
  font-weight: 500;
  margin: 24px 0 8px;
}
time {
  color: #85858d;
  font-size: 12px;
  font-weight: 400;
}

.grid-container {
  display: grid;
  gap: 16px;
}

h2 {
  color: #1a1a1f;
  font-size: 20px;
  font-weight: 500;
}

.flex-container {
  display: flex;
  gap: 16px;
  list-style: none;
}

.description {
  color: #404049;
  font-size: 16px;
  font-weight: 400;
}

.blog a {
  color: #5d37f3;
  font-size: 14px;
  font-weight: 500;
  text-decoration: none;
  display: flex;
  gap: 4px;
  align-items: center;
}
