header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 28px 76px;
  background-color: #fff;
}

.login-button {
  background: #5d37f3;
  color: #fff;
  border: none;
  border-radius: 8px;
  padding: 10px 20px;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
}
