.blogs-container {
  padding: 0 33px;
  margin: 0 auto;
}

@media (min-width: 1440px) {
  .blogs-container {
    padding: 0 76px;
  }
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.centered {
  display: flex;
  justify-content: center;
}

.w-90 {
  width: 90%;
}

.form-container {
  display: flex;
  justify-content: center;
  margin-top: 33px;
  height: 100vh;
  background-color: #fbfaff;
}

.form-content {
  max-width: 600px;
  width: 90%;
}

.inputs-wrapper {
  display: grid;
  gap: 16px;
}

@media (min-width: 1287px) {
  .inputs-wrapper {
    gap: 24px;
  }
}

.cursor-pointer {
  cursor: pointer;
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

@media (min-width: 1287px) {
  .wrapper {
    flex-direction: row;
  }
}

.input__title {
  margin-bottom: 8px;
  color: #1a1a1f;
  font-size: 14px;
  font-weight: 500;
}

.input__container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

@media (min-width: 1287px) {
  .input__container {
    max-width: 288px;
    width: 100%;
  }
}

.textarea-container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.input {
  border-radius: 12px;
  border: 1px solid #e4e3eb;
  background: #fcfcfd;
  text-indent: 16px;
  color: #85858d;
  font-family: FiraGO;
  font-size: 14px;
  font-weight: 400;
  padding: 12px 0;
}

.input:focus {
  outline: 1.5px solid #5d37f3;
}

.input-warnings {
  font-size: 12px;
  font-weight: 400;
  color: #85858d;
  margin-top: 8px;
}

.author-ul {
  list-style: initial;
  list-style-position: inside;
}

.submit-button {
  display: flex;
  justify-content: flex-end;
  margin-top: 40px;
}

.textarea__container {
  display: flex;
}

.correct-text {
  color: #14d81c;
}

.error-text {
  color: #ea1919;
}

.correct-border {
  outline: 1px solid #14d81c;
  background: #f8fff8;
}

.error-border {
  outline: 1px solid #ea1919;
  background: #faf2f3;
}
